---
layout: default
---

<section class="home">

  <article>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <article>
          {{ post.content }}
        </article>
      </li>
    {% endfor %}
  </ul>
  </article>


</section>
