/*RESET*/

* {
    padding:0;
    margin:0;
    border:0;
    offset:0;
    vertical-align:baseline;
    list-style:none;
    text-rendering:optimizeLegibility;
    -webkit-text-size-adjust:none;
    -webkit-tap-highlight-color:transparent;
    -webkit-font-smoothing:antialiased; 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}

/* header notes */

.annotation {
    color: #888;
    font-family: 'Inconsolata', monospace; 
    font-size: 15px;
    font-weight: normal;
    line-height: 1.5em;  
}

.annotation a {
    color: #888;
}

.annotation a:hover {
    color: #666;
}

/* top sticky annotations to know the size of an element */
#tablet {display: none;} /* default for large screen */
#mobile {display: none;}

.sizes {  
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #aaa;
    top: 0;
    position: fixed;
    z-index: 10;

    li {
        float: left;
        padding: 2px 10px;
        border-right: 1px solid #aaa;
    }


    @media (max-width:800px) {
        #desktop {display: none;}
        #tablet {display: inline;}
    }

    @media (max-width:500px) {
        #tablet {display: none;}
        #mobile {display: inline;}
    }

}

@media (max-width: 500px) {
    .sizes li {font-size: 1.2rem;}
}

#width {
    float:right;
    border-right: none;
    border-left: 1px solid #aaa;
}

/**
 * Basic styling
 */
html { font-size: $base-font-size;}
body {
    font-family: $base-font-family;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

p, li { font-size: 1.6rem;}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}


/*** typography  */

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414rem 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.998rem;
}
h2 {font-size: 2.827rem;}
h3 {font-size: 1.999rem;}
h4 {font-size: 1.414rem;}

small, .font_small {font-size: 0.707rem;}


/**
 * Lists
 */


li {
    line-height: 2;
    > ul,
    > ol {
         margin-bottom: 0;
    }

}


/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 1.8rem;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 1.5rem;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    margin: 50px auto 0;
    max-width: 95%;
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
    @extend %clearfix;

}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}


@media (max-width: 500px) {
    .wrapper {
        margin: 50px auto 0;
        max-width: 97%;
        padding-right: $spacing-unit / 4;
        padding-left: $spacing-unit / 4;
    }

    h1 {font-size: 1.999rem;}
    h2, h3 {font-size: 1.6rem;}

}

