.sizes {
    border-top: 5px solid $grey-color-dark;
}

/**
 * Site header
 */
.site-header {
    min-height: 43px;
    border-bottom: 1px solid #ccc;

    @media (min-width: 500px) {
        border: none;
        min-height: 56px;
    }
}

.site-nav {
    width: 30px;
    margin: 0 15px 0 0;
    border: 1px solid #ccc;
    padding: 5px 5px 0;
    border-radius: 4px;
    float: left;
}

 @media (min-width: 800px) {
        .site-nav {display: none;}
    }

.navigation {

    display: none;

    /* for large screens */
    @media (min-width: 800px) { 
        display: block;
        float: left;
        width: 30%;
        padding: 0 $spacing-unit 0;

        li {   
            line-height: 56px;
        }

    }

    
    

/* old-jekyll default 
        .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 30px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    } */

}



/**
 * Site footer
 */
.site-footer {
    clear: both;
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 1.8rem;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {

    ul ul ,ul ol {
        li {
            line-height: 1.35;
            margin-bottom: 1em;
        }
    }

    ul ul li {
        padding-left: 1.5em;
        input {
            margin-left: -1.5em;
        }
    }

    ul ol {
        margin-left: 1.5em;

    }

    @media (min-width: 500px) {
        width: 65%;
        padding: $spacing-unit 0;
        float:left;

        ul ul, ul ol {margin-left: $spacing-unit;}
    }
}

.page-heading {
    font-size: 1.4rem;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: 1.2rem;
    color: $grey-color;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 2.827rem;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 2.827rem;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    ol li {
        list-style: circle;
    } 

}
