<!DOCTYPE html>
<html>

  {% include head.html %}

  <body id="top">

    {% include header.html %}

    <div class="navigation">
        <ul>
          {% for post in site.posts %}
          <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
    </div>

    <div class="page-content">
        {{ content }}
    </div>

    {% include footer.html %}

  </body>

</html>
