---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">Last modified: {{ page.date | date: "%-d %b %Y" }}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
